/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* --- */


body {
    /* background image used */
    background-image: url('../images/background/bgLarge.png');
    /* specific height */
    min-height: 100vh;
    /* background */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

/* maroon-side */
.maroon-side {
    background-color: #611818;
    z-index: 10;
    height: 100vh;
}

/* fonts */
.title-font {
    font-family: 'Playfair Display', serif;
}

/* title and sub-button */
.title-heading {
    font-size: 12em;
    text-shadow: 0 2px 4px #00000080;
    z-index: 15;
    color: #d8d8d8;
    display: flex;
    position: absolute;
    bottom: 20%;
}

.sub-button {
    font-size: 18px;
    color: #d8d8d8;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin-top: -40px;
    cursor: pointer;
}

/* box-explore */
.box-explore {
    background-color: #d8d8d8;
    z-index: 20;
    display: flex;
    position: absolute;
    bottom: 20%;
}

.box-title {
    font-size: 48px;
    letter-spacing: 2px;
}

.close-button {
    cursor: pointer;
}

.gradient-button {
    margin: 10px 0;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    /* border-radius: 10px; */
    width: 200px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    /* border-radius: 25px; */
}

.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* margin: 8px 10px 12px; */
}

.gradient-button-1 {background-image: linear-gradient(to right, #611818 0%, #F7BB97 51%, #611818 100%)}
.gradient-button-1:hover { background-position: right center; }

/* Social Media */
.social-media {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
}

.social-media span {
    margin-top: 20px;
}
