/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* --- */


body {
    /* background image used */
    background-image: url('../images/background/bgLarge.png');
    /* specific height */
    min-height: 100vh;
    /* background */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

/* maroon-side */
.maroon-side {
    background-color: #611818;
    z-index: 10;
    height: 100vh;
}

.title-heading {
    font-family: 'Playfair Display', serif;
    font-size: 12em;
    text-shadow: 0 2px 4px #00000080;
    z-index: 15;
    color: #d8d8d8;
    display: flex;
    position: absolute;
    bottom: 20%;
}

.sub-button {
    font-size: 18px;
    color: #d8d8d8;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin-top: -40px;
}

/* Social Media */
.social-media {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#facebook, #instagram {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 50%;
    margin-top: 10px;
}